@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: Poppins; 
}

html{
  height: 100%;
}
body{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/sign-in.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header{
  padding-top: 0;
}
.logo{
  width: 80px;
  display: inline;
  border-radius: 10px;
}

nav { /*adjusts nav bar to the top*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav a{
  text-decoration: none;
  color: white;
}

nav ul{
  float: right;
  display: flex;
  list-style: none;
}

nav ul li{
  padding-left: 40px;
}

nav li:last-child {
  margin-right: 60px; /* remove margin from last list item */
}

/*-----main starts here*/

.main-info{
  margin-top: 90px;
  text-align: center;
}

h1{
  color: white;
  font-size: 80px;
}

.sign-up{
  cursor: pointer;
  background-color: black;
  color: white;
  font-size: 30px;
  width: 140px;
  border-radius: 10px;
}


.wrapper {
  min-height: calc(100vh - 200px); /* adjust height to leave space for footer */
  overflow-y: auto; /* allow content to scroll if it exceeds wrapper height */
  padding: 20px;
}

#about{
  margin-top: 80px;
  background-color: white;
  height: 550px;
}



/*----footer------*/
/* Send footer to the bottom of the page */
footer {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  position: sticky;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  height: 40px;
  background: rgb(255, 255, 255);
  color: black;
}

@media (max-width: 768px) {
  footer {
      font-size: 14px; /* Adjust font size for smaller screens */
  }
}

/* Make icons slightly bigger */
footer i {
  font-size: 30px; /* increase font size to 30px */
  margin: 0 15px; /* add some space between icons */
}

/* Add some basic styling to the links */
footer a {
  color: #000000;
  transition: color 0.2s ease;
}

footer a:hover {
  color: #b81919;
}